* {
  margin: 0;
  scroll-behavior: smooth;
}

.header {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
}
.header__name {
  margin: 20px;
  font-size: 40px;
}
.header__informationforme {
  margin-top: 30px;
  font-size: 20px;
}
.header__background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0.9;
}
.header__backgroundColor {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -9;
  background-color: rgba(0, 0, 0, 0.63);
}
.header__myimage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid rgb(102, 101, 101);
  background-color: rgb(102, 101, 101);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}
.nav__logo {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-top: 5px;
  animation: anim 5s infinite;
}
@keyframes anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.nav__ul {
  display: flex;
  flex-direction: row;
  font-size: 17px;
  font-weight: bold;
  list-style-type: none;
  text-decoration: none;
  margin-right: 20px;
}
.nav__ul a {
  text-decoration: none;
  margin: 5px 20px;
  color: white;
}

.nav__li--anim:hover {
  border-bottom: 2px solid blue;
}
.about {
  display: flex;
  background-color: #2d132c;
  color: white;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
  padding-top: 100px;
  padding-bottom: 170px;
}
.about__leftSection {
  padding-left: 20px;
}
.about__h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 60px 0 80px 0;
}
.about__description {
  font-size: 18px;
  text-align: center;
  word-spacing: 8px;
  word-wrap: break-word;
  width: 450px;
}
.about__socialMedia {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.about__socialMediaAnima {
  transform: scale(1);
  width: 30px;
  height: 30px;
  margin: 5px;
}
.about__socialMediaAnima:hover {
  transform: scale(1.5);
}
.about__rightSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid white;
  padding-left: 50px;
}
.about__imageTechniques {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.about__imageTechniques--animation {
  width: 150px;
  height: 150px;
  margin: 10px;
  transform: rotate(0deg);
  transition-duration: 1s;
}
.about__imageTechniques--animation:hover {
  transform: rotate(360deg);
}

.servicess {
  background-color: #801336;
  display: flex;
  flex-direction: column;
  color: white;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 170px;
}
.servicess__image {
  transform: rotateY(0deg) scaleX(1);
  transition-duration: 1s;
}
.servicess__image:hover {
  transform: rotateY(360deg) scaleX(1.5);
}

.servicess__para {
  font-size: 30px;
  text-align: center;
  padding-top: 5px;
}
.servicess__thedescription {
  font-size: 18px;
  text-align: center;
  word-spacing: 3px;
  padding-top: 20px;
}
.servicess__topSection {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.servicess__sectinONeInTop {
  padding-right: 20px;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicess__sectinTowInTop {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicess__bottomSection {
  padding-top: 40px;
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 52, 78, 0.315);
  padding-top: 50px;
  padding-bottom: 100px;
}

.contact__accoutns {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contact__parentAccount {
  display: flex;
  align-items: center;
  padding: 20px;
}
.contact__parentAccount img {
  width: 50px;
  height: 50px;
}
.contact__theDetails {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 18px;
  color: white;
}
.contact__nameContact {
  font-size: 25px;
  font-weight: bold;
}
.contact__allInput {
  display: flex;
  flex-wrap: nowrap;
}
.contact__input {
  width: 295px;
  height: 40px;
  margin-bottom: 20px;
  background: #000000b2;
  font-size: 20px;
  width: 100%;
  padding: 8px 16px;
  border: 1px solid rgb(0, 0, 0);
  outline: none;
  color: white;
}
.contact__textarea {
  width: 100%;
  resize: none;
  outline: none;
  margin-bottom: 30px;
  height: 300px;
  background: none;
  border: 1px solid rgb(0, 0, 0);
  outline: none;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
  color: white;
  background: #000000b2;
}
.contact__button {
  width: 150px;
  height: 70px;
  outline: none;
  background-color: rgb(48, 47, 47);
  border: 3px solid rgb(117, 115, 115);
  color: white;
  font-size: 18px;
  border-radius: 50px;
  margin-bottom: 20px;
}
.contact__button:hover {
  background-color: rgb(117, 115, 115);
  border-radius: 50px;
}
.footer {
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.836);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;
}
.footer__myName {
  font-size: 40px;
  color: white;
}
.footer__CopyRight {
  font-size: 20px;
  color: white;
}
.load {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
}
.load__imageOne {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 290;
  left: 20;
  z-index: 4;
  animation: rotateRight 1s infinite;
  animation-duration: 6s;
}
@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.load__stickOne {
  width: 10px;
  height: 100px;
  background-color: brown;
  position: absolute;
  top: 350;
  left: 65;
}
.load__imageTwo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 290;
  left: 350;
  z-index: 4;
  animation: centerImag 1s infinite;
  animation-duration: 6s;
}
@keyframes centerImag {
  0% {
    top: 270;
  }

  50%{
    top: 200;
  }
  100% {
    top: 290;
  }
}
.load__stickTwo {
  width: 10px;
  height: 100px;
  background-color: rgb(201, 186, 186);
  position: absolute;
  top: 350;
  left: 395;
  animation: centerStick 3s;
}
.load__imageThree {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 290;
  right: 20;
  z-index: 4;
  animation: rotateLeft 1s infinite ;
  animation-duration: 6s;
}
@keyframes rotateLeft {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.load__stickThree {
  width: 10px;
  height: 100px;
  background-color: brown;
  position: absolute;
  top: 350;
  right: 65;
}
.load__floor {
  width: 100%;
  height: 30px;
  background-color: rgb(58, 44, 26);
  position: absolute;
  top: 450;
}
.load__word {
  width: 10px;
  height: 100px;
  position: absolute;
  top: 320;
  left:350;
  font-size: 40px;
  animation: animWord 1s infinite;
  color: white;
  animation-duration: 6s;
}
@keyframes animWord {
  0% {
    top: 200;
  }

  50%{
    top: 150;
  }
  100% {
    top: 250;
  }
}
